<main class="container">
        <header>
        <h1 id="the-heading">Show Buzz</h1>
        </header><br>
        <form id="searchForm">
            <label for="search_term">
            <input type="text" id="search_term">
            </label>
            <button type="submit">Search</button>
        </form>
        <br>
        <ul id="showList"></ul>
        <div id="show"></div>
        <a href="/" id="homeLink">Back to All Shows</a><br><br>
        <footer>
            Name: Aaditi Patange
            CWID: 10464991
            Description: This page has been created for Lab 11
        </footer>
    </main>